body{
	font-family: 'Mukta', sans-serif;
	font-size: 16px;
	background-color: lightblue;
	margin: 0;
	padding: 0;
	background-image: url('../css/kepek/camera.png');
	background-repeat: no-repeat;
	background-size: fixed;
	background-position: 50% -50%;
}

*,*::before,*::after{
	box-sizing: border-box;
}

.fejlec{
	margin: 1rem 15rem;
	margin-right: 20rem;
	padding: 10px 40px;
	background-color: #2F4F4F;
	color:white;
	border-radius: 15px;
	-webkit-box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8); 
	box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8);
}
nav{
	margin: 1rem 15rem;
	margin-left: 20rem;
	padding: 0px;
	background-color: #5F9EA0;
	border-radius: 15px;
	-webkit-box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8); 
	box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8);
	height: 40px;
	


}
nav ul{
	list-style-type: none;
}
nav ul li{
	display: inline block;
	float: right;
	margin-top: 7px;
	
}
nav ul a{
	
	padding:0px 40px;
	text-decoration: none;
	color: white;
	border-radius: 15px;
	margin:0;

}
a:hover, .active {
	background-color: #2F4F4F;
	
	transition: 0.5s;
}
.szoveg{
	margin: 1rem 15rem;
	margin-top: 150px;
	padding: 20px 40px;
	background-color: #2F4F4F;
	color:white;
	border-radius: 15px;
	-webkit-box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8); 
	box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.8);
	text-align: center;
}

